<div class="fixed-front-panel">
	<div class="container">
		<div class="fixed-front-panel__buttons">
			<div class="fixed-front-panel__text">
				Для заказа термообработки <br>
				воспользуйтесь онлайн-формой
			</div>
			<div class="btn btn--primary fixed-front-panel__btn" data-popup-toggle="form">Разместить заказ</div>
			<div class="btn btn--secondary fixed-front-panel__btn" data-popup-toggle="calc">Конвертор твердости</div>
		</div>
	</div>
</div>

<div class="fixed-front-panel__toggle" title="Свернуть" data-fixed-front-panel-toggle>
	<svg xmlns="http://www.w3.org/2000/svg" width="12.322" height="11.25" viewBox="0 0 12.322 11.25">
		<g id="свернуть" transform="translate(6.603 19.74) rotate(180)">
			<g id="Group_2" data-name="Group 2" transform="translate(6.883 21.5) rotate(-90)">
				<path id="Path_6" data-name="Path 6" d="M0,0,4.2,5.558,0,11.117" transform="translate(7.558 -12)" fill="none" stroke="#e68a00" stroke-miterlimit="10" stroke-width="2"/>
				<path id="Path_283" data-name="Path 283" d="M0,0,4.2,5.558,0,11.117" transform="translate(2.558 -12)" fill="none" stroke="#e68a00" stroke-miterlimit="10" stroke-width="2"/>
			</g>
		</g>
	</svg>
</div>