<div class="front-slider" data-front-top>
	<div class="front-slider-carousel" data-front-slider>
		<div>
			<div class="front-slider-slide front-slider-slide--dark-bg">
				<div class="container">
					<a href="#" class="front-slider-slide__link">
						<div class="front-slider-slide__img">
							<img src="/images/slide.png" srcset="/images/slide.png 1340w, /images/slide@2x.png 2680w" alt="">
						</div>
						
						<div class="front-slider-slide__text">
							<h2 class="front-slider-slide__title">Вакуумная закалка</h2>
							
							<div class="front-slider-slide__description">
								Обработка высоколегированных, среднелегированных и быстрорежущих
								инструментальных сплавов, нержавеющих сплавов. Данный метод исключает
								вероятность образования закалочных трещин, снижает вероятность изменения
								геометрических размеров изделий, а также снимает внутренние напряжения.
								Поверхность изделий после вакуумной закалки получается чистой и светлой,
								без следов окисления и нагара.
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div>
			<div class="front-slider-slide front-slider-slide--light-color">
				
				<div class="front-slider-slide__bg-img">
					<img src="/images/slide-full-bg.jpg" srcset="/images/slide-full-bg.jpg 1280w, /images/slide-full-bg@2x.jpg 2560w" alt="">
				</div>
				<div class="container">
					<a href="#" class="front-slider-slide__link">
						
						<div class="front-slider-slide__text">
							<h2 class="front-slider-slide__title">Вакуумная цементария</h2>
							
							<div class="front-slider-slide__description">
								Обработка высоколегированных, среднелегированных и быстрорежущих
								инструментальных сплавов, нержавеющих сплавов. Данный метод исключает
								вероятность образования закалочных трещин, снижает вероятность изменения
								геометрических размеров изделий, а также снимает внутренние напряжения.
								Поверхность изделий после вакуумной закалки получается чистой и светлой,
								без следов окисления и нагара.
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div>
			<div class="front-slider-slide front-slider-slide--dark-bg">
				<div class="container">
					<a href="#" class="front-slider-slide__link">
						<div class="front-slider-slide__img">
							<img src="/images/slide.png" srcset="/images/slide.png 1340w, /images/slide@2x.png 2680w" alt="">
						</div>
						
						<div class="front-slider-slide__text">
							<h2 class="front-slider-slide__title">Вакуумная цементария</h2>
							
							<div class="front-slider-slide__description">
								Обработка высоколегированных, среднелегированных и быстрорежущих
								инструментальных сплавов, нержавеющих сплавов. Данный метод исключает
								вероятность образования закалочных трещин, снижает вероятность изменения
								геометрических размеров изделий, а также снимает внутренние напряжения.
								Поверхность изделий после вакуумной закалки получается чистой и светлой,
								без следов окисления и нагара.
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div>
			<div class="front-slider-slide front-slider-slide--dark-bg">
				<div class="container">
					<a href="#" class="front-slider-slide__link">
						<div class="front-slider-slide__img">
							<img src="/images/slide.png" srcset="/images/slide.png 1340w, /images/slide@2x.png 2680w" alt="">
						</div>
						
						<div class="front-slider-slide__text">
							<h2 class="front-slider-slide__title">Вакуумная цементария</h2>
							
							<div class="front-slider-slide__description">
								Обработка высоколегированных, среднелегированных и быстрорежущих
								инструментальных сплавов, нержавеющих сплавов. Данный метод исключает
								вероятность образования закалочных трещин, снижает вероятность изменения
								геометрических размеров изделий, а также снимает внутренние напряжения.
								Поверхность изделий после вакуумной закалки получается чистой и светлой,
								без следов окисления и нагара.
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="front-slider-nav">
		<div class="container">
			<div class="front-slider-nav__row">
				<div class="front-slider__arrow" data-front-slider-prev>
					<svg xmlns="http://www.w3.org/2000/svg" width="25.452" height="12.322" viewBox="0 0 25.452 12.322">
						<g id="Group_3" data-name="Group 3" transform="translate(60.452 16.161) rotate(180)">
							<path id="Path_6" data-name="Path 6" d="M55,15.558,59.2,10,55,4.442" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
							<line id="Line_5" data-name="Line 5" x2="24" transform="translate(35 10.058)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
						</g>
					</svg>
				</div>
				
				<div class="front-slider__dots" data-front-slider-dots></div>
				
				<div class="front-slider__arrow" data-front-slider-next>
					<svg xmlns="http://www.w3.org/2000/svg" width="24.202" height="13.109" viewBox="0 0 24.202 13.109">
						<g id="Group_2" data-name="Group 2" transform="translate(-36 -3.387)">
							<path id="Path_6" data-name="Path 6" d="M55,15.942l4-6-4-6" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
							<line id="Line_5" data-name="Line 5" x2="22" transform="translate(36 9.942)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
						</g>
					</svg>
				</div>
			</div>
		</div>
	</div>
	
	<div class="front-slider-sub-slider">
		<div class="container">
			<div class="front-slider-sub-slider__inner">
				<div class="front-slider-sub-slider-carousel" data-front-slider-nav>
					<div class="front-slider-sub-slider-slide">
						<div class="front-slider-sub-slider-slide__img">
							<img src="/images/sub-slide.png"
							     srcset="/images/sub-slide.png 260w, /images/sub-slide@2x.png 520w"
							     alt="">
						</div>
						<div class="front-slider-sub-slider-slide__title">Вакуумная цементария</div>
					</div>
					
					<div class="front-slider-sub-slider-slide">
						<div class="front-slider-sub-slider-slide__img">
							<img src="/images/sub-slide.png"
							     srcset="/images/sub-slide.png 260w, /images/sub-slide@2x.png 520w"
							     alt="">
						</div>
						<div class="front-slider-sub-slider-slide__title">Вакуумная цементария</div>
					</div>
					
					<div class="front-slider-sub-slider-slide">
						<div class="front-slider-sub-slider-slide__img">
							<img src="/images/sub-slide.png"
							     srcset="/images/sub-slide.png 260w, /images/sub-slide@2x.png 520w"
							     alt="">
						</div>
						<div class="front-slider-sub-slider-slide__title">Вакуумная цементария</div>
					</div>
					
					<div class="front-slider-sub-slider-slide">
						<div class="front-slider-sub-slider-slide__img">
							<img src="/images/sub-slide.png"
							     srcset="/images/sub-slide.png 260w, /images/sub-slide@2x.png 520w"
							     alt="">
						</div>
						<div class="front-slider-sub-slider-slide__title">Вакуумная цементария</div>
					</div>
				</div>
				
				<a href="#" class="front-slider-sub-slider__show-all">
					<span>Все технологии</span>
					
					<svg xmlns="http://www.w3.org/2000/svg" width="24.952" height="12.322" viewBox="0 0 24.952 12.322">
						<g id="Group_1" data-name="Group 1" transform="translate(-35.5 -3.839)">
							<path id="Path_6" data-name="Path 6" d="M55,15.558,59.2,10,55,4.442" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
							<line id="Line_5" data-name="Line 5" x2="24" transform="translate(35.5 10)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
						</g>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="front-top-arrow" data-anchor href="#our-tech">
	<svg xmlns="http://www.w3.org/2000/svg" width="38.15" height="15.048" viewBox="0 0 38.15 15.048">
		<path id="Path_12" data-name="Path 12" d="M16.7,59.166l19,13,18-13" transform="translate(-16.134 -58.341)" fill="none" stroke="#222" stroke-miterlimit="10" stroke-width="2"/>
	</svg>
</div>