<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cолнечногорский центр термообработки</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
<header class="header">
	<div class="container container--full">
		<div class="header__row">
			<a href="/" class="header-logo">
				<div class="header-logo__img">
					<img src="/images/logo.png"
					     srcset="/images/logo.png 120w, /images/logo@2x.png 240w"
					     alt="">
				</div>
				
				<div class="header-logo__text">
					СОЛНЕЧНОГОРСКИЙ <br>
					ЦЕНТР ТЕРМООБРАБОТКИ
				</div>
			</a>
			
			<div class="header__data" data-header-data>
				<div class="header-menu" data-header-menu>
					<a href="/tech" class="header-menu__item">Технологии</a>
					<a href="/equipment" class="header-menu__item">Оборудование</a>
					<a href="/about" class="header-menu__item">О компании</a>
					<a href="/about/reviews" class="header-menu__item">Отзывы</a>
					<a href="/events" class="header-menu__item">События</a>
					<a href="/about/vacancy" class="header-menu__item">Вакансии</a>
					<a href="/contacts" class="header-menu__item">Контакты</a>
				</div>
				
				<div class="header-toggle" data-mobile-board-toggle>
					<svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 1.5H25" stroke="white" stroke-width="3" stroke-miterlimit="10"/>
						<path d="M0 10H25" stroke="white" stroke-width="3" stroke-miterlimit="10"/>
						<path d="M0 10H25" stroke="white" stroke-width="3" stroke-miterlimit="10"/>
						<path d="M0 18.5H25" stroke="white" stroke-width="3" stroke-miterlimit="10"/>
					</svg>
				</div>
				
				<div class="header-search">
					<div class="header-search__icon" data-search-toggle>
						<svg xmlns="http://www.w3.org/2000/svg" width="24.227" height="24.227" viewBox="0 0 24.227 24.227">
							<g id="поиск" transform="translate(11.061 3.5)">
								<ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.008" cy="8.008" rx="8.008" ry="8.008" transform="translate(-4.349 -2)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
								<line id="Line_3" data-name="Line 3" x1="7.939" y2="7.939" transform="translate(-10 11.727)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
							</g>
						</svg>
					</div>
					
					<form data-header-search class="header-search__body" action="/search">
						<div class="header-search__icon--in" data-search-toggle>
							<svg xmlns="http://www.w3.org/2000/svg" width="24.227" height="24.227" viewBox="0 0 24.227 24.227">
								<g id="поиск" transform="translate(11.061 3.5)">
									<ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.008" cy="8.008" rx="8.008" ry="8.008" transform="translate(-4.349 -2)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
									<line id="Line_3" data-name="Line 3" x1="7.939" y2="7.939" transform="translate(-10 11.727)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
								</g>
							</svg>
						</div>
						
						<input type="text" required name="query" placeholder="Поиск" class="header-search__input" data-header-search-input>
						<div class="header-search__clear" data-header-search-clear>
							<svg id="закрыть" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
								<rect id="Rectangle_120" data-name="Rectangle 120" width="32" height="32" rx="16" fill="transparent"/>
								<g id="Group_29" data-name="Group 29" transform="translate(10 10)">
									<line id="Line_12" data-name="Line 12" x2="11" y2="11" fill="none" stroke="#fff" stroke-width="2"/>
									<line id="Line_13" data-name="Line 13" x1="11" y2="11" fill="none" stroke="#fff" stroke-width="2"/>
								</g>
							</svg>
						</div>
						<button class="header-search__submit" type="submit">
							<svg xmlns="http://www.w3.org/2000/svg" width="24.952" height="12.322" viewBox="0 0 24.952 12.322">
								<g id="Group_1" data-name="Group 1" transform="translate(0 0.603)">
									<path id="Path_6" data-name="Path 6" d="M55,15.558,59.2,10,55,4.442" transform="translate(-35.5 -4.442)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
									<line id="Line_5" data-name="Line 5" x2="24" transform="translate(0 5.558)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
								</g>
							</svg>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
<main>