<div class="mobile-about">
	<div class="mobile-about__title">О компании</div>
	
	<div class="sub-block-margin"></div>
	
	<div class="mobile-about__row">
		<a href="/about/reviews" class="sidebar-about-item">
			<div class="sidebar-about-item__img">
				<img src="/images/sidebar-about-reviews.jpg" srcset="/images/sidebar-about-reviews.jpg 1x, /images/sidebar-about-reviews@2x.jpg 2x" alt="">
			</div>
			
			<div class="sidebar-about-item__title">Отзывы</div>
			
			<svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5 11.719L23.7 6.16103L19.5 0.603027" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M0 6.16113H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</a>
		
		<a href="/about/vacancy" class="sidebar-about-item">
			<div class="sidebar-about-item__img">
				<img src="/images/sidebar-about-vacancy.jpg" srcset="/images/sidebar-about-vacancy.jpg 1x, /images/sidebar-about-vacancy@2x.jpg 2x" alt="">
			</div>
			
			<div class="sidebar-about-item__title">Вакансии</div>
			
			<svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5 11.719L23.7 6.16103L19.5 0.603027" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M0 6.16113H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</a>
		
		<a href="/events" class="sidebar-about-item">
			<div class="sidebar-about-item__img">
				<img src="/images/sidebar-about-events.jpg" srcset="/images/sidebar-about-events.jpg 1x, /images/sidebar-about-events@2x.jpg 2x" alt="">
			</div>
			
			<div class="sidebar-about-item__title">События</div>
			
			<svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5 11.719L23.7 6.16103L19.5 0.603027" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M0 6.16113H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</a>
	</div>
</div>