<div class="container">
	<div class="text-block-margin mobile-eq">
		<div class="mobile-eq__title">Все оборудование</div>
		
		<div class="mobile-eq__row">
			<a href="/equipment/item" class="mobile-eq-item">
				Вакуумная печь
				Seco/Warwick 10.0 VPT 4048
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Каталитическое газовое
				азотирование
				Накал США 10.20/7 И3
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Вакуумная печь
				Seco/Warwick 10.0 VPT 4048
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Каталитическое газовое
				азотирование
				Накал США 10.20/7 И3
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Вакуумная печь
				Seco/Warwick 10.0 VPT 4048
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Вакуумная печь
				Seco/Warwick 10.0 VPT 4048
			</a>
			
			<a href="/equipment/item" class="mobile-eq-item">
				Каталитическое газовое
				азотирование
				Накал США 10.20/7 И3
			</a>
		</div>
	</div>
</div>