<div class="container">
	<div class="text-block-margin mobile-tech">
		<div class="mobile-tech__title">Все технологии</div>
		
		<div class="mobile-tech__row">
			<div class="mobile-tech-item">
				<a href="#" class="mobile-tech-item__title">Закалка</a>
				
				<div class="mobile-tech-item__links">
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
				</div>
			</div>
			
			<div class="mobile-tech-item">
				<a href="#" class="mobile-tech-item__title">Соединение</a>
				
				<div class="mobile-tech-item__links">
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
				</div>
			</div>
			
			<div class="mobile-tech-item">
				<a href="#" class="mobile-tech-item__title">Нанесение</a>
				
				<div class="mobile-tech-item__links">
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
				</div>
			</div>
			
			<div class="mobile-tech-item">
				<a href="#" class="mobile-tech-item__title">Прессование</a>
				
				<div class="mobile-tech-item__links">
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
					<a href="#" class="mobile-tech-item__link">Вакуумная закалка</a>
				</div>
			</div>
		</div>
	</div>
</div>