<div class="container">
	<div class="block-title">Наше оборудование</div>
	
	<div class="sub-block-margin"></div>
	
	<div class="text-block">
		Производство ООО "СЦТ" оснащено внушительным парком передового оборудования в области термообработки от ведущих мировых производителей, которое гарантирует качественное выполнение широкого спектра технологических задач любой сложности.
	</div>
	
	<div class="sub-block-margin"></div>
	
	<div class="our-eq">
		<a href="#" class="our-eq-item">
			<div class="our-eq-item__img">
				<img src="/images/eq-1.png" srcset="/images/eq-1.png 350w, /images/eq-1@2x.png 700w" alt="">
			</div>
			
			<div class="our-eq-item__text">
				<div class="our-eq-item__caption">Вакуумная печь</div>
				<div class="our-eq-item__title">Seco/Warwick 10.0 VPT 4048</div>
			</div>
		</a>
		
		<a href="#" class="our-eq-item">
			<div class="our-eq-item__img">
				<img src="/images/eq-2.png" srcset="/images/eq-2.png 350w, /images/eq-2@2x.png 700w" alt="">
			</div>
			
			<div class="our-eq-item__text">
				<div class="our-eq-item__caption">Вакуумная печь</div>
				<div class="our-eq-item__title">Seco/Warwick CME D-12</div>
			</div>
		</a>
		
		<a href="#" class="our-eq-item">
			<div class="our-eq-item__img">
				<img src="/images/eq-1.png" srcset="/images/eq-1.png 350w, /images/eq-1@2x.png 700w" alt="">
			</div>
			
			<div class="our-eq-item__text">
				<div class="our-eq-item__caption">Вакуумная печь</div>
				<div class="our-eq-item__title">Накал 10.20/7ИЗ</div>
			</div>
		</a>
		
		<a href="#" class="our-eq-item">
			<div class="our-eq-item__img">
				<img src="/images/eq-2.png" srcset="/images/eq-2.png 350w, /images/eq-2@2x.png 700w" alt="">
			</div>
			
			<div class="our-eq-item__text">
				<div class="our-eq-item__caption">Вакуумная печь</div>
				<div class="our-eq-item__title">Seco/Warwick 10.0 VPT 4048</div>
			</div>
		</a>
		
		<a href="#" class="our-eq-item">
			<div class="our-eq-item__img">
				<img src="/images/eq-1.png" srcset="/images/eq-1.png 350w, /images/eq-1@2x.png 700w" alt="">
			</div>
			
			<div class="our-eq-item__text">
				<div class="our-eq-item__caption">Вакуумная печь</div>
				<div class="our-eq-item__title">Seco/Warwick 10.0 VPT 4048</div>
			</div>
		</a>
		
		<a href="#" class="our-eq-item our-eq-item--show-all">
			<span>Всё оборудование</span>
			
			<svg xmlns="http://www.w3.org/2000/svg" width="24.952" height="12.322" viewBox="0 0 24.952 12.322">
				<g id="Group_4" data-name="Group 4" transform="translate(0 0.603)">
					<path id="Path_6" data-name="Path 6" d="M55,15.558,59.2,10,55,4.442" transform="translate(-35.5 -4.442)" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/>
					<line id="Line_5" data-name="Line 5" x2="24" transform="translate(0 5.558)" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"/>
				</g>
			</svg>
		</a>
	</div>
</div>