<div class="sidebar-eq">
	<div class="sidebar-eq__title">
		Все оборудование
	</div>
	
	<div class="sidebar-eq__body">
		<div class="sidebar-eq__link current">Вакуумная печь Seco/Warwick 10.0 VPT 4048</div>
		<a href="/equipment/item" class="sidebar-eq__link">Вакуумная печь Seco/Warwick 10.0 VPT 4048</a>
		<a href="/equipment/item" class="sidebar-eq__link">Вакуумная печь Seco/Warwick 10.0 VPT 4048</a>
		<a href="/equipment/item" class="sidebar-eq__link">Вакуумная печь Seco/Warwick 10.0 VPT 4048</a>
		<a href="/equipment/item" class="sidebar-eq__link">Вакуумная печь Seco/Warwick 10.0 VPT 4048</a>
		<a href="/equipment/item" class="sidebar-eq__link">Вакуумная печь Seco/Warwick 10.0 VPT 4048</a>
	</div>
	
	<div class="sidebar-eq__bottom-link">
		<a href="/equipment/certificates" class="sidebar-eq__link">Сертификация оборудования</a>
	</div>
</div>