<div class="sidebar-tech">
	<div class="sidebar-tech__title">Все технологии</div>
	<div class="sidebar-menu" data-accordion>
		<div class="sidebar-menu__unit">
			<div class="sidebar-menu__head" data-accordion-head>
				Закалка
				
				<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.581055 6.229L7.58105 1.229L14.5811 6.229" stroke="#666666" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
			<div class="sidebar-menu__content" data-accordion-content>
				<a href="/tech/category/item" class="sidebar-menu__link">Вакуумная закалка</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса с последующей операцией закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса без последующей закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Двойное отверждение</a>
			</div>
		</div>
		
		<div class="sidebar-menu__unit">
			<div class="sidebar-menu__head" data-accordion-head>
				Соединение
				
				<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.581055 6.229L7.58105 1.229L14.5811 6.229" stroke="#666666" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
			<div class="sidebar-menu__content" data-accordion-content>
				<a href="/tech/category/item" class="sidebar-menu__link">Вакуумная закалка</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса с последующей операцией закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса без последующей закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Двойное отверждение</a>
			</div>
		</div>
		
		<div class="sidebar-menu__unit">
			<div class="sidebar-menu__head" data-accordion-head>
				Нанесение
				
				<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.581055 6.229L7.58105 1.229L14.5811 6.229" stroke="#666666" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
			<div class="sidebar-menu__content" data-accordion-content>
				<a href="/tech/category/item" class="sidebar-menu__link">Вакуумная закалка</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса с последующей операцией закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса без последующей закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Двойное отверждение</a>
			</div>
		</div>
		
		<div class="sidebar-menu__unit">
			<div class="sidebar-menu__head" data-accordion-head>
				Прессование
				
				<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.581055 6.229L7.58105 1.229L14.5811 6.229" stroke="#666666" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
			<div class="sidebar-menu__content" data-accordion-content>
				<a href="/tech/category/item" class="sidebar-menu__link">Вакуумная закалка</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса с последующей операцией закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Упрочнение корпуса без последующей закалки</a>
				<a href="/tech/category/item" class="sidebar-menu__link">Двойное отверждение</a>
			</div>
		</div>
	</div>
</div>